<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="title"><%=entityName.lowercap%></h1>
  <LinkTo @route="forms.<%=entityName.lowercase%>-form" class="nav-link">
    <button type="button" class="btn btn-success">Add <%=entityName.lowercap%></button>
  </LinkTo>
</div>


<<%=entityName.lowercap%> @model={{model}}/>

